
@{
    ViewBag.Title = "Изменения внесены";
}

<div class="col-md-offset-2">
    <text style="color:chartreuse; font-weight:600">Данные были успешно изменены</text>
    <div>
        <br />
    </div>
    @Html.ActionLink("Вернуться к списку авторов", "Index", "Authors")
</div>
