<div>
    <text style="color: chartreuse; font-weight: 600">Администратор был успешно добавлен.</text>
    <div class="col-md-2">
        @Html.ActionLink("Перейти в личный кабинет", "AccountSection", "Account")
    </div>
</div>