<head>
    <link type="text/css" rel="stylesheet" href="../../Content/Стили редактирования книги.css" />
</head>
<div class="col-md-offset-2" id="PublisherSuccess">
    <text style="color: chartreuse; font-weight: 700;">@ViewBag.Success</text>
    <br />
</div>

